.contact {
    background-color: black;
    
}

h1 {
    color: #ddd;
    text-align: center;
    font-size: 50px;
    opacity: 0.6;
    margin: 0;
    font-family: "Lucida Bright", Georgia, serif;
    padding: 20px;
}

.relative-contact {
    /* position: relative; */
    width: 400px;
}

.hopefoundation {
    color: #ddd;
    font-size: 25px;
    padding: 30px;
    font-weight: 900;
    position: relative;
    font-family: Futura, "Trebuchet MS",Arial,sans-serif; 
}

.slash {
    font-size: 45px;
    color: #ddd;
    position: relative;
    top: -73px;
    left: 266px;
    font-weight: 900;
}

.copyright {
    color: #ddd;
    font-family: Futura, "Trebuchet MS",Arial,sans-serif; 
    position: relative;
    font-size: 15px;
    top: -104px;
    left: 285px;
}