/* body {
  background-color: #04364A;
} */
.section1 {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* color: #b1dded; */
  /* position: relative; */
  /* display: block; */
}

.text1 {
  font-size: 50px;
  font-weight: 900;
  margin-top: 150px;
  margin-right: 20px;
  animation: myAnim 0.8s ease-in-out 0s 1 reverse forwards;
}

@keyframes myAnim {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
}

.image1 {
  object-fit: cover;
  /* width: 100%; */
  border: 5px solid #f99417;
  border-radius: 20px;
  animation: myAnim 0.8s ease-in-out 0s 1 reverse forwards;
}

.section2 {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* color: #b1dded; */
}

.content-wrapper {
  position: relative;
  top: 60px;
  padding: 10px 20px;
}

.content-wrapper-heading {
  font-size: 60px;
}

.content-wrapper-paragraph {
  font-size: 20px;
}

@media (max-width: 1100px) {
  .section1 {
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  .section2 {
    display: flex;
    flex-direction: column;
  }

  .text1 {
    margin: 10px;
    text-align: center;
  }
  .image1 {
    width: 100%;
    object-fit: cover;
  }
}

/* Donate Button */
.Donate-btn-wrapper {
  display: inline-block;
  padding: 12px 28px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom right, #edbf5a, #ffae00);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 4px 0px #ffae00;
  transition: all 0.2s ease-in-out;
}

.Donate-btn-wrapper:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #ffae00;
}

.Donate-btn-wrapper:active {
  transform: translateY(0px);
  box-shadow: none;
  background-image: linear-gradient(to bottom right, #ffae00, #edbf5a);
}

.Donate-btn-wrapper:before,
.Donate-btn-wrapper:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.Donate-btn-wrapper:before {
  top: -3px;
  left: -3px;
  border-radius: 40px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.Donate-btn-wrapper:after {
  bottom: -3px;
  right: -3px;
  border-radius: 40px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.contact-us {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #ef8400;
}

.content {
  color: white;
  text-align: center;
  font-size: 30px;
}

.send-query input, select, textarea {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 500;
  font-size: 15px;
  width: 80%;
  margin: 20px auto;
  padding: 20px 10px 20px 10px;
  border: none;
  background: 0 0;
  border-bottom: 1px solid #fff;
}

input::placeholder, textarea::placeholder {
  color: white;
  opacity: 1;
}

textarea {
  border: 1px solid #fff;
}

.send-query option {
  /* background-color: white; */
  color: black;
}

.submit {
  position: relative;
}

.submit-button-profile {
  position: absolute;
  top: 50%;
  left: 42%;
  right: 50%;
}