@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: auto;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-right: 15px;
  width: auto;
  border-radius: 9px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 35px 35px 70px #d9d9d9, -35px -35px 70px #ffffff;
}

.header {
  position: relative;
  background-clip: border-box;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  overflow: hidden;
  border-radius: 0.75rem;
  /* background-color: rgb(33 150 243); */
  /* box-shadow: 0 10px 15px -3px rgba(33, 150, 243, 0.4),
    0 4px 6px -4px rgba(33, 150, 243, 0.4); */
  /* height: 14rem; */
}

.header img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.info .Content {
  padding: 0 25px;
  font-family: 'Eczar';
  font-weight: 400;
  text-align: justify;
  font-size: 17px;
  

}

.info .title{
  border: none;
  padding: 1.5rem;
  text-align: center;
  font-size: 30px;
  font-family: "Kreon", serif;
}

.title {
  color: rgb(38 50 56);
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.footer {
  padding: 0.75rem;
  border: 1px solid rgb(236 239 241);
  display: flex;
  /* text-align: right; */
  flex-direction: column;
  align-items: center;
  /* justify-content: right; */
  background-color: rgba(0, 140, 255, 0.082);
}

.tag {
  font-weight: 300;
  font-size: 0.75rem;
  display: block;
}

.action {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(33, 150, 243, 0.4),
    0 2px 4px -2px rgba(33, 150, 243, 0.4);
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(21, 160, 42);
  border-radius: 0.5rem;
}
