table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
    color: #e88730;
    font-weight: 500;
    font-size: 20px;
}

th {
    background-color: #e88730;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
}

table {
    margin: 0 auto;
}

.user-info {
    font-size: 20px;
    font-weight: 500;
}