.news {
  border-radius: 29px;
  background: #e0e0e0;
  box-shadow: 35px 35px 70px #bebebe, -35px -35px 70px #ffffff;
  margin: 30px;
  padding: 40px;
}

.news_up {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.news-label {
    font-size: 20px;
    margin: 5px 0;
}