body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-profile-div {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  box-shadow: 27px 27px 54px #d9d9d9, -27px -27px 54px #ffffff;
  /* background: url("../assests/Blob/blob4.svg") no-repeat; */
  /* background-size: 1200px;
  background-position: top 50% left 50%; */
  background: linear-gradient(to right, #fc831a, rgb(233, 150, 49));
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

.h1-head {
  text-align: center;
}

#manage-profile {
  font-size: 40px;
  display: inline-block;
  margin-top: 50px;
  width: auto;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ec8b3c;

  /* text-align: center; */
}
.profile-div2 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  /* flex-direction: row; */
  justify-content: space-between;
  /* align-items: center; */
}

.input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 15px;
  padding: 20px;
  /* font-size: 20px; */
  /* font-size: auto; */
  margin: 10px 0;
}

.input {
  font-family: monospace;
  /* max-width: 190px; */
  outline: none;
  border: 1px solid #dadada;
  padding: 20px;
  margin: 10px 0;
  height: 30px;
  border-radius: 5px;
  background-color: #f3f7fe;
  transition: 0.3s;
  color: #3b82f6;
}

.input:focus {
  border: 2px solid rgb(12, 94, 227);
  box-shadow: 0 0 0 4px #3b83f65f;
}

.label {
  /* font-size: 20px; */
  font-weight: 900;
  font-size: 25px;
  /* background-color: #000; */
}

/* Submit Button */
.submit-button-profile {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  /* width: 100%; */
  margin: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}
.submit-button-profile:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}
.submit-button-profile::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}
.submit-button-profile:hover::before {
  width: 250%;
}

.main-profile-div .submit {
  background-color: transparent;
  border: transparent;
  font-size: 20px;
}
